@model LearningBiology.Models.Section

@{
    ViewBag.Title = "Тема";
}

<link href="@Url.Content("~/Content/theme1.css")" rel="stylesheet" type="text/css" />





<div class="container">
    <div class="row" style="padding-top:30px">

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="">
            <div class="list-group">
                <a href="#" class="list-group-item disabled text-center" >Теми</a>
                @if (ViewBag.active == 1)
                {
                    @Html.ActionLink("Како растат растенијата", "Details", "Sections", new { id = 1 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Како растат растенијата", "Details", "Sections", new { id = 1 }, new { @class = "list-group-item nonactive" })
                }
                @if (ViewBag.active == 2)
                {
                    @Html.ActionLink("Делови на растенијата", "Details", "Sections", new { id = 2 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Делови на растенијата", "Details", "Sections", new { id = 2 }, new { @class = "list-group-item nonactive" })
                }
                @if (ViewBag.active == 3)
                {
                    @Html.ActionLink("Растенијата и водата", "Details", "Sections", new { id = 3 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Растенијата и водата", "Details", "Sections", new { id = 3 }, new { @class = "list-group-item nonactive" })
                }
                @if (ViewBag.active == 4)
                {
                    @Html.ActionLink("Растенијата и светлината", "Details", "Sections", new { id = 4 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Растенијата и светлината", "Details", "Sections", new { id = 4 }, new { @class = "list-group-item nonactive" })
                }
                @if (ViewBag.active == 5)
                {
                    @Html.ActionLink("Растенијата и топлината", "Details", "Sections", new { id = 5 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Растенијата и топлината", "Details", "Sections", new { id = 5 }, new { @class = "list-group-item nonactive" })
                }
                @if (ViewBag.active == 6)
                {
                    @Html.ActionLink("Семиња и видови", "Details", "Sections", new { id = 6 }, new { @class = "list-group-item active_list_group" })
                }
                else
                {
                    @Html.ActionLink("Семиња и видови", "Details", "Sections", new { id = 6 }, new { @class = "list-group-item nonactive" })
                }

            </div>
        </div>
        <div class="col-lg-9 col-md-9  details">
            <div class="row page-header">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10 text-center"><p><h2> Тема @Model.ID: @Model.Name</h2></p></div>
                <div class="col-lg-1 col-md-1"></div>

            </div>

            <div class="row">
                <div class="col-lg-10 text-center">
                    @for(var k = 0; k < Model.Images.Count(); ++k)
                            {
                                var img = Model.Images.ElementAt(k).Title;
                        <div class="col-lg-4 col-lg-offset-1 col-md-offset-1 col-md-4 col-sm-6 col-xs-6">
                            <img class="img-responsive img-thumbnail" src="~/Content/Images/@img" height="200" width="200"/>
                        </div>
                    }
                </div>
            </div>
            <div class="row">

            </div>


            @for (var i = 0; i < @ViewBag.paragraphs.Length; ++i)
            {
                var s = @ViewBag.paragraphs[i];
                var img = @ViewBag.images[i];
                
                   
                    <p>
                        @if (i % 2 == 0)
                        {
                            <text>

                            <p class="box box-even">@s</p>

                            </text>

                        }
                        else
                        {
                            <text><p class="box box-odd">@s</p></text>
                        }
                        </p>
              
            }


            <div class="row btn-group hidden-xs">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3"><button type="button" class="btn video_class"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  Видео </button></div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3"><button type="button" class="btn game_class">  <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Игри </button></div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3"><div class="col-lg-3 col-md-3">@Html.ActionLink("Квиз", "Index", "Questions", new { sectionId = Model.ID }, new { @class = "btn kviz_class" })</div></div>
            </div>
            <div class="row btn-group-vertical visible-xs">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3"><button type="button" class="btn video_class"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>  Видео </button></div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3 "><button type="button" class="btn game_class">  <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Игри </button></div>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-3 col-md-3">@Html.ActionLink("Квиз", "Index", "Questions", new { sectionId = Model.ID }, new { @class = "btn kviz_class" })</div>
            </div>
            <div class="row row2">
                
                <div class="col-lg-3 col-md-3  col-lg-offset-9 align_p"><button type="button" class="btn btn-lg btn-success"> Следно <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></div>
            </div>
            <div class="row"></div>

        </div>

    </div>



</div>

